<div class="dashboard-container">
  <div class="all-bills">
    <div class="colum date">
      <div class="rowy titly">
        <h4>Date</h4>
      </div>
      <%  %>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
    </div>
    <div class="colum client">
      <div class="rowy titly">
        <h4>Client</h4>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
    </div>
    <div class="colum description">
      <div class="rowy titly">
        <h4>Description</h4>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
    </div>
    <div class="colum">
      <div class="rowy titly">
        <h4>Montant</h4>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
    </div>
    <div class="colum">
      <div class="rowy titly">
        <h4>Envoyée</h4>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
    </div>
    <div class="colum">
      <div class="rowy titly">
        <h4>Payée</h4>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
      <div class="rowy">
        <p>Lorem ipsum.</p>
      </div>
    </div>
    <div class="colum actions">
      <div class="rowy titly">
        <h4>Actions</h4>
      </div>
      <div class="rowy">
        <i class="fas fa-edit"></i>
        <i class="fas fa-paper-plane"></i>
        <i class="fas fa-copy"></i>
        <i class="fas fa-print"></i>
        <i class="fas fa-share-alt"></i>
      </div>
      <div class="rowy">
        <i class="fas fa-edit"></i>
        <i class="fas fa-paper-plane"></i>
        <i class="fas fa-copy"></i>
        <i class="fas fa-print"></i>
        <i class="fas fa-share-alt"></i>
      </div>
    </div>
  </div>
</div>
